div.container{
	 width: 100%;
	 min-height: 600px;
}

#classify-list {
	width: 100%;
	height: 100px;
}

#classify-list > nav {
	background:rgba(0,0,0,0);
	color: white;
	font-size: 20px;
	border-width: 0px;
}

.classify-list-elemnet{
	padding: 0px;
}
 .classify-list-elemnet > a{
	text-align: center;
}

#search-bar{
	margin-top: 100px;
}

.form-label{
    height: 60px;
	font-size: 22px;
	text-align: right;
}

#select{
    height: 40px;
    font-size: 20px;
}

#info{
	font-size: 20px;
}

#search-bar-submit {
	height: 40px;
	width: 80px;
	font-size: 18px;
}