{%  extends "recommend/base.html" %}

{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "recommend/css/index.css" %}">
{% endblock %}

{% block mainbody %}

<div class="container">
	<div class="row" id="classify-list">
		<nav class="navbar navbar-default col-xs-10 col-md-offset-1" role="navigation">
			<div class="container-fluid"> 
				<div>
					<ul class="nav navbar-nav row col-md-12">
						<li class="col-md-3 classify-list-elemnet"><a href="#">首页</a></li>
						<li class="col-md-3  classify-list-elemnet"><a href="#">刑事案件</a></li>
						<li class="col-md-3  classify-list-elemnet"><a href="#">民事案件</a></li>
						<li class="col-md-3  classify-list-elemnet"><a href="#">行政案件</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>	
	<div class="row" id="search-bar">
		<div class="col-md-12">
			<form class="input-group col-xs-8 col-md-offset-2"  action="{% url 'recommend:search_list' %}" method="get">
				{% csrf_token %}
				<div class="row">
					<label class="col-sm-2 control-label form-label">案由：</label>
					<div class="col-sm-5">
						<select id="select" name="select" class="selectpicker show-tick form-control">
						  	<option value="-1">自动</option>
							<option value="0">人格权纠纷</option>
							<option value="1">婚姻家庭、继承纠纷</option>
							<option value="2">物权纠纷</option>
							<option value="3">合同、无因管理、不当得利纠纷</option>
							<option value="4">知识产权与竞争纠纷</option>
							<option value="5">劳动争议、人事纠纷</option>
							<option value="6">海事海商纠纷</option>
							<option value="7">公司、证券、保险、票据有关纠纷</option>
							<option value="8">侵权责任纠纷</option>
							<option value="9">适用特殊程序案件案由</option>
						</select>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label form-label">案情：</label>
					<div class="col-sm-10">
						<textarea id="info" class="form-control" rows="8" name="info"></textarea>
					</div>
				</div>
				<div class="row" style="margin-top:20px;">
					<button class="btn col-sm-2 col-md-offset-6" id="search-bar-submit" type="submit">查询</button>
				</div>
    		</form>
		</div>
	</div>	
</div>
{% endblock %}